<template>
  <div>
    <p>Completed Tasks: {{todos.filter(todo => {return todo.done === true}).length}}</p>
    <p>Pending Tasks: {{todos.filter(todo => {return todo.done === false}).length}}</p>
    <todo v-on:delete-todo="deleteTodo" v-on:toggle-todo-done="toggleTodoDone" v-for="todo in todos" v-bind:todo="todo"></todo>
    <CreateTodo v-on:create-todo="createTodo"></CreateTodo>
  </div>
</template>


<script type = "text/javascript" >
  import Todo from './Todo';
  import CreateTodo from './CreateTodo';
  export default {
    props: ['todos'],
    components: {
      Todo,
      CreateTodo,
    },
    methods: {
      deleteTodo(todo) {
        const todoIndex = this.todos.indexOf(todo);
        this.todos.splice(todoIndex, 1);
      },
      createTodo(title, project) {
        this.todos.push({title, project, done: false});
      },
      toggleTodoDone(todo) {
        console.log("Togglin");
        const todoIndex = this.todos.indexOf(todo);
        this.todos[todoIndex].done = !this.todos[todoIndex].done;
      },
    }
  };
</script>

